/* reset */

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
}

.gallery {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-wrap: wrap;
  width: 1128px;
  column-gap: 24px;
  row-gap: 24px;
}

.gallery-item {
}

.gallery-image {
  width: 360px;
  height: 200px;
  object-fit: cover;
}

.gallery-image:hover {
  transform: scale(1.016, 1.04);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

$basicLightbox__background: rgba(46, 47, 66, 0.8); // Background color
$basicLightbox__zIndex: 1000; // Stack order
$basicLightbox__duration: 0.4s; // Transition duration
$basicLightbox__timing: ease; // Transition timing

@import "src/styles/main";
